{@com.github.phoswald.fitbit.viewer.pages.activities.ActivityViewModel model}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fitbit Viewer - Activities</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>
      <div class="my-titlebar-brand">
        <img src="/images/fitbit-logo.svg" alt="Fitbit" class="my-titlebar-logo">
        <span class="my-titlebar-title">Fitbit Viewer</span>
      </div>
      <a href="/app/oauth/login" class="my-button">Login</a>
    </header>
    <div class="my-app-layout">
      <nav>
        <a href="/">
          <span class="my-sidebar-icon"></span>Home
        </a>
        <a href="profile">
          <span class="my-sidebar-icon"></span>Profile
        </a>
        <a href="steps">
          <span class="my-sidebar-icon"></span>Steps
        </a>
        <a href="heartrate">
          <span class="my-sidebar-icon"></span>Heart Rate
        </a>
        <a href="cardioscore">
          <span class="my-sidebar-icon"></span>Cardio Fitness
        </a>
        <a href="azm">
          <span class="my-sidebar-icon"></span>Active Zone Minutes
        </a>
        <a href="activities" class="my-active">
          <span class="my-sidebar-icon"></span>Activities
        </a>
      </nav>
      <main>
        <h2>Activities</h2>
        {#if model.errorMessage}
          <div class="my-alert">{model.errorMessage}</div>
        {/if}
        <div class="my-inputgroup">
          <div><a href="?dateBeg={model.dateRange.prevBeg}&dateEnd={model.dateRange.prevEnd}&datePeriod={model.dateRange.period}">&#8592;</a></div>
          <div><a href="?dateBeg={model.dateRange.curDay}&dateEnd={model.dateRange.curDay}&datePeriod=DAY">Day</a></div>
          <div><a href="?dateBeg={model.dateRange.curWeekBeg}&dateEnd={model.dateRange.curWeekEnd}&datePeriod=WEEK">Week</a></div>
          <div><a href="?dateBeg={model.dateRange.curMonthBeg}&dateEnd={model.dateRange.curMonthEnd}&datePeriod=MONTH">Month</a></div>
          <div><a href="?dateBeg={model.dateRange.curYearBeg}&dateEnd={model.dateRange.curYearEnd}&datePeriod=YEAR">Year</a></div>
          <div><a href="?dateBeg={model.dateRange.nextBeg}&dateEnd={model.dateRange.nextEnd}&datePeriod={model.dateRange.period}">&#8594;</a></div>
        </div>
        <form method="get" action="">
          <div>
            <label>From</label>
            <input type="date" name="dateBeg" value="{model.dateRange.beg}">
          </div>
          <div>
            <label>To</label>
            <input type="date" name="dateEnd" value="{model.dateRange.end}">
          </div>
          <button type="submit">Query</button>
          <span class="my-check">
            <input type="checkbox" name="excludeAuto" id="excludeAuto" value="true" {#if model.excludeAuto}checked{/if}>
            <label for="excludeAuto">Exclude auto detected</label>
          </span>
          <span class="my-check">
            <input type="checkbox" name="excludeLowCal" id="excludeLowCal" value="true" {#if model.excludeLowCal}checked{/if}>
            <label for="excludeLowCal">Exclude low calories</label>
          </span>
          <span class="my-check">
            <input type="checkbox" name="refresh" id="refresh" value="true">
            <label for="refresh">Refresh</label>
          </span>
        </form>
        {#if model.activities}
          <table>
            <thead>
              <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Activity</th>
                <th>Duration</th>
                <th>Calories</th>
                <th>Steps</th>
                <th>Distance (km)</th>
                <th>Avg Heart Rate (bpm)</th>
                <th>Type</th>
              </tr>
            </thead>
            <tbody>
              {#for activity in model.activities}
                <tr>
                  <td>{activity.begDateTime.format('yyyy-MM-dd')}</td>
                  <td>{activity.begDateTime.format('HH:mm')} - {activity.endDateTime.format('HH:mm')}</td>
                  <td><a href="activities/{activity.logId}">{activity.activityName}</a></td>
                  <td>{activity.durationMinutes.formatDuration}</td>
                  <td>{activity.calories}</td>
                  <td>{activity.steps}</td>
                  <td>{#if activity.distance}{activity.distance.format('0.00')}{/if}</td>
                  <td>{activity.averageHeartRate}</td>
                  <td>{activity.logType}</td>
                </tr>
              {/for}
            </tbody>
          </table>
        {/if}
        <footer>
          Generated: {model.now.format('yyyy-MM-dd HH:mm:ss')}
        </footer>
      </main>
    </div>
  </body>
</html>
