{@com.github.phoswald.fitbit.viewer.azm.AzmViewModel model}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fitbit Viewer - Active Zone Minutes</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/defaults.css">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <ul class="menu">
      <li><a href="/">[Home]</a></li>
      <li><a href="profile">[Profile]</a></li>
      <li><a href="steps">[Steps]</a></li>
      <li><a href="heartrate">[Heart Rate]</a></li>
      <li><a href="cardioscore">[Cardio Fitness]</a></li>
      <li>[Active Zone Minutes]</li>
    </ul>
    <hr>
    <h1>Fitbit Viewer - Active Zone Minutes</h1>
    {#if model.errorMessage}
      <p><strong>ERROR:</strong> {model.errorMessage}</p>
    {/if}
    <form method="get" action="azm">
      <table class="form">
        <tr>
          <td><strong>From</strong></td>
          <td><input type="date" name="begDate" value="{model.begDate}"></td>
        </tr>
        <tr>
          <td><strong>To</strong></td>
          <td><input type="date" name="endDate" value="{model.endDate}"></td>
        </tr>
        <tr>
          <td></td>
          <td><button type="submit">Query</button></td>
        </tr>
      </table>
    </form>
    <p></p>
    {#if model.entries}
      <canvas id="azmChart"></canvas>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script>
        new Chart(document.getElementById('azmChart'), {
          type: 'bar',
          data: {
            labels: {model.dates.formatJsArray},
            datasets: [{
              label: 'Fat Burn',
              data: {model.fatBurnActiveZoneMinutes.formatJsArray},
              stack: 'azm'
            },{
              label: 'Cardio',
              data: {model.cardioActiveZoneMinutes.formatJsArray},
              stack: 'azm'
            },{
              label: 'Peak',
              data: {model.peakActiveZoneMinutes.formatJsArray},
              stack: 'azm'
            }]
          },
          options: { scales: { y: { beginAtZero: true } } }
        });
      </script>
      <table class="data">
        <tr>
          <th>Date</th>
          <th>Total (min)</th>
          <th>Fat Burn (min)</th>
          <th>Cardio (min)</th>
          <th>Peak (min)</th>
        </tr>
        {#for entry in model.entries}
          <tr>
            <td>{entry.date}</td>
            <td>{entry.activeZoneMinutes}</td>
            <td>{entry.fatBurnActiveZoneMinutes}</td>
            <td>{entry.cardioActiveZoneMinutes}</td>
            <td>{entry.peakActiveZoneMinutes}</td>
          </tr>
        {/for}
      </table>
    {/if}
    <hr>
    <p><small>Generated: {model.now.format('yyyy-MM-dd HH:mm:ss')}</small></p>
  </body>
</html>
