{@com.github.phoswald.fitbit.viewer.cardioscore.CardioScoreViewModel model}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fitbit Viewer - Cardio Fitness Score</title>
    <link rel="stylesheet" href="/defaults.css">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <ul class="menu">
      <li><a href="../..">[Home]</a></li>
      <li><a href="profile">[Profile]</a></li>
      <li><a href="steps">[Steps]</a></li>
      <li><a href="heartrate">[Heart Rate]</a></li>
      <li>[Cardio Fitness]</li>
    </ul>
    <hr>
    <h1>Fitbit Viewer - Cardio Fitness Score</h1>
    {#if model.errorMessage}
      <p><strong>ERROR:</strong> {model.errorMessage}</p>
    {/if}
    <form method="get" action="cardioscore">
      <table class="form">
        <tr>
          <td><strong>From</strong></td>
          <td><input type="date" name="begDate" value="{model.begDate}"></td>
        </tr>
        <tr>
          <td><strong>To</strong></td>
          <td><input type="date" name="endDate" value="{model.endDate}"></td>
        </tr>
        <tr>
          <td></td>
          <td><button type="submit">Query</button></td>
        </tr>
      </table>
    </form>
    <p></p>
    {#if model.scores}
      <canvas id="cardioFitnessScoreChart"></canvas>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script>
        new Chart(document.getElementById('cardioFitnessScoreChart'), {
          type: 'line',
          data: {
            labels: {model.scoreDates.formatJsArray},
            datasets: [{
              label: 'Score (Min)',
              data: {model.scoreMinValues.formatJsArray}
            },{
              label: 'Score (Max)',
              data: {model.scoreMaxValues.formatJsArray}
            }]
          }
        });
      </script>
      <table class="data">
        <tr>
          <th>Date</th>
          <th>Score (Min)</th>
          <th>Score (Max)</th>
        </tr>
        {#for entry in model.scores}
          <tr>
            <td>{entry.date}</td>
            <td>{entry.scoreMin}</td>
            <td>{entry.scoreMax}</td>
          </tr>
        {/for}
      </table>
    {/if}
    <hr>
    <p><small>Generated: {model.now.format('yyyy-MM-dd HH:mm:ss')}</small></p>
  </body>
</html>
