{@com.github.phoswald.fitbit.viewer.pages.cardioscore.CardioScoreViewModel model}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fitbit Viewer - Cardio Fitness Score (VO2 max)</title>
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <img src="/images/fitbit-logo.svg" alt="Fitbit">
    <span>Fitbit Viewer</span>
    <a href="/app/oauth/login" class="my-button">Login</a>
  </header>
  <div class="my-app-layout">
    <nav>
      <a href="/">
        <span class="my-sidebar-icon"></span>Home
      </a>
      <a href="profile">
        <span class="my-sidebar-icon"></span>Profile
      </a>
      <a href="steps">
        <span class="my-sidebar-icon"></span>Steps
      </a>
      <a href="heartrate">
        <span class="my-sidebar-icon"></span>Heart Rate
      </a>
      <a href="cardioscore" class="my-active">
        <span class="my-sidebar-icon"></span>Cardio Fitness
      </a>
      <a href="azm">
        <span class="my-sidebar-icon"></span>Active Zone Minutes
      </a>
      <a href="activities">
        <span class="my-sidebar-icon"></span>Activities
      </a>
    </nav>
    <main>
      <h2>Cardio Fitness Score (VO2 max)</h2>
      {#if model.errorMessage}
      <div class="my-alert">{model.errorMessage}</div>
      {/if}
      <div class="my-inputgroup">
        <div><a
            href="?dateBeg={model.dateRange.prevBeg}&dateEnd={model.dateRange.prevEnd}&datePeriod={model.dateRange.period}">&#8592;</a>
        </div>
        <div><a href="?dateBeg={model.dateRange.curDay}&dateEnd={model.dateRange.curDay}&datePeriod=DAY">Day</a></div>
        <div><a
            href="?dateBeg={model.dateRange.curWeekBeg}&dateEnd={model.dateRange.curWeekEnd}&datePeriod=WEEK">Week</a>
        </div>
        <div><a href="?dateBeg={model.dateRange.curMonthBeg}&dateEnd={model.dateRange.curMonthEnd}&datePeriod=MONTH">Month</a>
        </div>
        <div><a
            href="?dateBeg={model.dateRange.curYearBeg}&dateEnd={model.dateRange.curYearEnd}&datePeriod=YEAR">Year</a>
        </div>
        <div><a
            href="?dateBeg={model.dateRange.nextBeg}&dateEnd={model.dateRange.nextEnd}&datePeriod={model.dateRange.period}">&#8594;</a>
        </div>
      </div>
      <form method="get" action="">
        <div>
          <label>From</label>
          <input type="date" name="dateBeg" value="{model.dateRange.beg}">
        </div>
        <div>
          <label>To</label>
          <input type="date" name="dateEnd" value="{model.dateRange.end}">
        </div>
        <label>Options</label>
        <div>
          <input type="checkbox" name="refresh" id="refresh" value="true">
          <label for="refresh">Refresh</label>
        </div>
        <button type="submit">Query</button>
      </form>
      {#if model.cardioScores}
      <canvas id="cardioScoresChart" class="my-chart"></canvas>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script>
        var chart = {model.cardioScoresChart.formatJson(8)};
        new Chart(document.getElementById('cardioScoresChart'), chart);
      </script>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Score (Min)</th>
            <th>Score (Max)</th>
          </tr>
        </thead>
        <tbody>
          {#for entry in model.cardioScores}
          <tr>
            <td>{entry.date}</td>
            <td>{entry.scoreMin}</td>
            <td>{entry.scoreMax}</td>
          </tr>
          {/for}
        </tbody>
      </table>
      {/if}
    </main>
  </div>
  <footer>
    Generated: {model.now.format('yyyy-MM-dd HH:mm:ss')}
  </footer>
</body>
</html>
