{@com.github.phoswald.fitbit.viewer.DashboardViewModel model}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fitbit Viewer - Dashboard</title>
  </head>
  <body>
    <h1>Fitbit Viewer - Dashboard</h1>
    <p><a href="../..">[Home]</a> <a href="steps">[Steps]</a></p>
    {#if model.errorMessage}
      <p><strong>ERROR:</strong> {model.errorMessage}</p>
    {/if}
    {#if model.profile}
      <img src="{model.profile.avatarUrl}" alt="Avatar" width="64" height="64">
      <p><strong>{model.profile.displayName}</strong> ({model.profile.fullName})</p>
      <p>Age: {model.profile.age}</p>
      <p>Gender: {model.profile.gender}</p>
    {#else}
      <p><a href="../oauth/login">Login with Fitbit</a></p>
    {/if}
    <p><small>Generated: {model.now}</small></p>
  </body>
</html>
