{@com.github.phoswald.fitbit.viewer.pages.heartrate.HeartRateViewModel model}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fitbit Viewer - Heart Rate</title>
  <link rel="icon" href="../../favicon.ico">
  <link rel="stylesheet" href="../../styles.css">
  <!-- Chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  {#include header.qute.html /}
  <div class="my-app-layout">
    {#include nav.qute.html /}
    <main>
      <h2>Heart Rate</h2>
      {#if model.errorMessage}
      <div class="my-alert-error">{model.errorMessage}</div>
      {/if}
      <div class="my-inputgroup">
        <div>
          <a href="?dateBeg={model.dateRange.prevBeg}&dateEnd={model.dateRange.prevEnd}&datePeriod={model.dateRange.period}">&#8592;</a>
        </div>
        <div>
          <a href="?dateBeg={model.dateRange.curDay}&dateEnd={model.dateRange.curDay}&datePeriod=DAY">Day</a>
        </div>
        <div>
          <a href="?dateBeg={model.dateRange.curWeekBeg}&dateEnd={model.dateRange.curWeekEnd}&datePeriod=WEEK">Week</a>
        </div>
        <div>
          <a href="?dateBeg={model.dateRange.curMonthBeg}&dateEnd={model.dateRange.curMonthEnd}&datePeriod=MONTH">Month</a>
        </div>
        <div>
          <a href="?dateBeg={model.dateRange.curYearBeg}&dateEnd={model.dateRange.curYearEnd}&datePeriod=YEAR">Year</a>
        </div>
        <div>
          <a href="?dateBeg={model.dateRange.nextBeg}&dateEnd={model.dateRange.nextEnd}&datePeriod={model.dateRange.period}">&#8594;</a>
        </div>
      </div>
      <form method="get" action="">
        <div>
          <label>From</label>
          <input type="date" name="dateBeg" value="{model.dateRange.beg}">
        </div>
        <div>
          <label>To</label>
          <input type="date" name="dateEnd" value="{model.dateRange.end}">
        </div>
        <label>Options</label>
        <div>
          <input type="checkbox" name="refresh" id="refresh" value="true">
          <label for="refresh">Refresh</label>
        </div>
        <button type="submit">Query</button>
      </form>
      {#if model.heartRates}
      <canvas id="heartRatesChart" class="my-chart"></canvas>
      <script>
        var chart = {model.heartRatesChart.formatJson(8)};
        new Chart(document.getElementById('heartRatesChart'), chart);
      </script>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Resting Heart Rate<br>(bpm)</th>
          </tr>
        </thead>
        <tbody>
          {#for entry in model.heartRates}
          <tr>
            <td>{entry.date}</td>
            <td>{entry.restingHeartRate}</td>
          </tr>
          {/for}
        </tbody>
      </table>
      {/if}
    </main>
  </div>
  <footer>
    Generated: {model.now.format('yyyy-MM-dd HH:mm:ss')}
  </footer>
</body>
</html>
