<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fitbit Viewer</title>
  <link rel="icon" href="{basePath}/favicon.ico">
  <link rel="stylesheet" href="{basePath}/styles.css">
</head>
<body>
  {#include header.qute.html /}
  <div class="my-app-layout">
    {#include nav.qute.html /}
    <main>
      <h1>Fitbit Viewer</h1>
      <p>Powered by:</p>
      <p>
        <a href="https://www.fitbit.com" target="_blank" rel="noopener noreferrer" class="my-logo">
          <img src="{basePath}/images/fitbit-logo.svg" title="FitBit" alt="FitBit">
        </a>
        <a href="https://quarkus.io" target="_blank" rel="noopener noreferrer" class="my-logo">
          <img src="{basePath}/images/quarkus-logo.svg" title="Quarkus" alt="Quarkus">
        </a>
        <a href="https://dev.java/" target="_blank" rel="noopener noreferrer" class="my-logo">
          <img src="{basePath}/images/java-logo.svg" title="Java" alt="Java">
        </a>
        <a href="https://www.openstreetmap.org/" target="_blank" rel="noopener noreferrer" class="my-logo">
          <img src="{basePath}/images/openstreetmap-logo.svg" title="OpenStreetMap" alt="OpenStreetMap">
        </a>
        <a href="https://leafletjs.com/" target="_blank" rel="noopener noreferrer" class="my-logo">
          <img src="{basePath}/images/leafletjs-logo.png" title="Leaflet" alt="Leaflet">
        </a>
        <a href="https://www.docker.com" target="_blank" rel="noopener noreferrer" class="my-logo">
          <img src="{basePath}/images/docker-logo.svg" title="Docker" alt="Docker">
        </a>
        <a href="https://www.linux.org" target="_blank" rel="noopener noreferrer" class="my-logo">
          <img src="{basePath}/images/linux-logo.svg" title="Linux" alt="Linux">
        </a>
        <a href="https://code.phoswald.ch/philip/fitbit-viewer" target="_blank" rel="noopener noreferrer"
           class="my-logo">
          <img src="{basePath}/images/forgejo-logo.svg" title="Forgejo" alt="Forgejo">
        </a>
        <a href="https://github.com/phoswald/fitbit-viewer" target="_blank" rel="noopener noreferrer" class="my-logo">
          <img src="{basePath}/images/github-logo.svg" title="GitHub" alt="GitHub">
        </a>
        <a href="https://claude.ai/" target="_blank" rel="noopener noreferrer" class="my-logo">
          <img src="{basePath}/images/claude-logo.svg" title="Claude" alt="Claude">
        </a>
      </p>
    </main>
  </div>
</body>
</html>
