{@String activePage}
<nav>
  <a href="{basePath}/app/pages/home" {#if activePage == "home"}class="rstm-active"{/if}>
    <span class="rstm-sidebar-icon"></span>Home
  </a>
  <a href="{basePath}/app/pages/profile" {#if activePage == "profile"}class="rstm-active"{/if}>
    <span class="rstm-sidebar-icon"></span>Profile
  </a>
  <a href="{basePath}/app/pages/steps" {#if activePage == "steps"}class="rstm-active"{/if}>
    <span class="rstm-sidebar-icon"></span>Steps
  </a>
  <a href="{basePath}/app/pages/heartrate" {#if activePage == "heartrate"}class="rstm-active"{/if}>
    <span class="rstm-sidebar-icon"></span>Heart Rate
  </a>
  <a href="{basePath}/app/pages/cardioscore" {#if activePage == "cardioscore"}class="rstm-active"{/if}>
    <span class="rstm-sidebar-icon"></span>Cardio Fitness
  </a>
  <a href="{basePath}/app/pages/azm" {#if activePage == "azm"}class="rstm-active"{/if}>
    <span class="rstm-sidebar-icon"></span>Active Zone Minutes
  </a>
  <a href="{basePath}/app/pages/sleep" {#if activePage == "sleep"}class="rstm-active"{/if}>
    <span class="rstm-sidebar-icon"></span>Sleep
  </a>
  <a href="{basePath}/app/pages/activities" {#if activePage == "activities"}class="rstm-active"{/if}>
    <span class="rstm-sidebar-icon"></span>Activities
  </a>
  <a href="{basePath}/app/pages/labels" {#if activePage == "labels"}class="rstm-active"{/if}>
    <span class="rstm-sidebar-icon"></span>Labels
  </a>
</nav>
