{@com.github.phoswald.fitbit.viewer.profile.ProfileViewModel model}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fitbit Viewer - Profile</title>
    <link rel="stylesheet" href="/defaults.css">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <ul class="menu">
      <li><a href="../..">[Home]</a></li>
      <li>[Profile]</li>
      <li><a href="steps">[Steps]</a></li>
      <li><a href="heartrate">[Heart Rate]</a></li>
    </ul>
    <hr>
    <h1>Fitbit Viewer - Profile</h1>
    {#if model.errorMessage}
      <p><strong>ERROR:</strong> {model.errorMessage}</p>
    {/if}
    {#if model.user}
      <p>
        <img src="{model.user.avatarUrl}" alt="Avatar" width="64" height="64">
      </p>
      <table class="data">
        <tr>
          <td><strong>Name</strong></td>
          <td><strong>{model.user.displayName}</strong> ({model.user.fullName})</td>
        </tr>
        <tr>
          <td><strong>Age</strong></td>
          <td>{model.user.age}</td>
        </tr>
        <tr>
          <td><strong>Date of Birth</strong></td>
          <td>{model.user.dateOfBirth}</td>
        </tr>
        <tr>
          <td><strong>Gender</strong></td>
          <td>{model.user.gender}</td>
        </tr>
        <tr>
          <td><strong>Member since</strong></td>
          <td>{model.user.memberSince}</td>
        </tr>
        <tr>
          <td><strong>Steps</strong></td>
          <td>{model.user.averageDailySteps} (daily average)</td>
        </tr>
        <tr>
          <td><strong>User ID</strong></td>
          <td>{model.user.userId}</td>
        </tr>
      </table>
    {#else}
      <p><a href="../oauth/login">Login with Fitbit</a></p>
    {/if}
    <hr>
    <p><small>Generated: {model.now.format('yyyy-MM-dd HH:mm:ss')}</small></p>
  </body>
</html>
