{@com.github.phoswald.fitbit.viewer.profile.ProfileViewModel model}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fitbit Viewer - Profile</title>
    <link rel="stylesheet" href="/defaults.css">
  </head>
  <body>
    <h1>Fitbit Viewer - Dashboard</h1>
    <p>
      <a href="../..">[Home]</a>
      [Profile]
      <a href="steps">[Steps]</a>
    </p>
    {#if model.errorMessage}
      <p><strong>ERROR:</strong> {model.errorMessage}</p>
    {/if}
    {#if model.user}
      <img src="{model.user.avatarUrl}" alt="Avatar" width="64" height="64">
      <p><strong>{model.user.displayName}</strong> ({model.user.fullName})</p>
      <p>Age: {model.user.age}</p>
      <p>Gender: {model.user.gender}</p>
    {#else}
      <p><a href="../oauth/login">Login with Fitbit</a></p>
    {/if}
    <p><small>Generated: {model.now.format('yyyy-MM-dd HH:mm:ss')}</small></p>
  </body>
</html>
