{@com.github.phoswald.fitbit.viewer.pages.sleep.SleepViewModel model}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fitbit Viewer - Sleep</title>
  <link rel="icon" href="{basePath}/favicon.ico">
  <link rel="stylesheet" href="{basePath}/rstm.css">
  <!-- Chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  {#include header.qute.html /}
  {#let activePage="sleep"}{#include nav.qute.html /}{/let}
  <main>
    <h2>Sleep</h2>
    {#if model.errorMessage}
    <div class="rstm-alert-error">{model.errorMessage}</div>
    {/if}
    <form method="get" action="" class="rstm-form-grid">
      <label>Quick Navigation</label>
      <span class="rstm-inputgroup">
        <a href="?dateBeg={model.dateRange.prevBeg}&dateEnd={model.dateRange.prevEnd}&datePeriod={model.dateRange.period}">&#8592;</a>
        <a href="?dateBeg={model.dateRange.curDay}&dateEnd={model.dateRange.curDay}&datePeriod=DAY">Day</a>
        <a href="?dateBeg={model.dateRange.curWeekBeg}&dateEnd={model.dateRange.curWeekEnd}&datePeriod=WEEK">Week</a>
        <a href="?dateBeg={model.dateRange.curMonthBeg}&dateEnd={model.dateRange.curMonthEnd}&datePeriod=MONTH">Month</a>
        <a href="?dateBeg={model.dateRange.curYearBeg}&dateEnd={model.dateRange.curYearEnd}&datePeriod=YEAR">Year</a>
        <a href="?dateBeg={model.dateRange.nextBeg}&dateEnd={model.dateRange.nextEnd}&datePeriod={model.dateRange.period}">&#8594;</a>
      </span>
      <label>Date</label>
      <span class="rstm-inputgroup">
        <input type="date" name="dateBeg" value="{model.dateRange.beg}">
        <span>-</span>
        <input type="date" name="dateEnd" value="{model.dateRange.end}">
      </span>
      <label>Options</label>
      <span>
        <input type="checkbox" name="refresh" id="refresh" value="true">
        <label for="refresh">Refresh</label>
      </span>
      <button type="submit">Query</button>
    </form>
    {#if model.sleeps}
    <!--<h3>Classic Sleep</h3>
    <canvas id="classicSleepChart" class="rstm-chart"></canvas>
    <script>
      let classicChart = {model.classicSleepChart.formatJson(8)};
      new Chart(document.getElementById('classicSleepChart'), classicChart);
    </script>-->
    <h3>Sleep Stages</h3>
    <canvas id="stagesSleepChart" class="rstm-chart"></canvas>
    <script>
      let stagesChart = {model.stagesSleepChart.formatJson(8)};
      new Chart(document.getElementById('stagesSleepChart'), stagesChart);
    </script>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <!--<th>Asleep</th>-->
          <!--<th>Restless</th>-->
          <!--<th>Awake</th>-->
          <th>Total</th>
          <th>Deep</th>
          <th>Light</th>
          <th>REM</th>
          <th>Wake</th>
        </tr>
      </thead>
      <tbody>
        {#for entry in model.sleeps}
        <tr>
          <td>{entry.date}</td>
          <!--<td>{#if entry.minutesAsleep}{entry.minutesAsleep.formatSleep}{/if}</td>-->
          <!--<td>{#if entry.minutesRestless}{entry.minutesRestless.formatSleep}{/if}</td>-->
          <!--<td>{#if entry.minutesAwake}{entry.minutesAwake.formatSleep}{/if}</td>-->
          <td>{#if entry.minutesTotal}{entry.minutesTotal.formatSleep}{/if}</td>
          <td>{#if entry.minutesDeep}{entry.minutesDeep.formatSleep}{/if}</td>
          <td>{#if entry.minutesLight}{entry.minutesLight.formatSleep}{/if}</td>
          <td>{#if entry.minutesRem}{entry.minutesRem.formatSleep}{/if}</td>
          <td>{#if entry.minutesWake}{entry.minutesWake.formatSleep}{/if}</td>
        </tr>
        {/for}
      </tbody>
    </table>
    {/if}
  </main>
  <footer>
    Generated: {model.now.format('yyyy-MM-dd HH:mm:ss')}
  </footer>
</body>
</html>
