{@com.github.phoswald.fitbit.viewer.steps.StepsViewModel model}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fitbit Viewer - Steps</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/defaults.css">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <ul class="menu">
      <li><a href="/">[Home]</a></li>
      <li><a href="profile">[Profile]</a></li>
      <li>[Steps]</li>
      <li><a href="heartrate">[Heart Rate]</a></li>
      <li><a href="cardioscore">[Cardio Fitness]</a></li>
    </ul>
    <hr>
    <h1>Fitbit Viewer - Steps</h1>
    {#if model.errorMessage}
      <p><strong>ERROR:</strong> {model.errorMessage}</p>
    {/if}
    <form method="get" action="steps">
      <table class="form">
        <tr>
          <td><strong>From</strong></td>
          <td><input type="date" name="begDate" value="{model.begDate}"></td>
        </tr>
        <tr>
          <td><strong>To</strong></td>
          <td><input type="date" name="endDate" value="{model.endDate}"></td>
        </tr>
        <tr>
          <td></td>
          <td><button type="submit">Query</button></td>
        </tr>
      </table>
    </form>
    <p></p>
    {#if model.steps}
      <canvas id="stepsChart"></canvas>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script>
        new Chart(document.getElementById('stepsChart'), {
          type: 'bar',
          data: {
            labels: {model.stepDates.formatJsArray},
            datasets: [{
              label: 'Steps',
              data: {model.stepCounts.formatJsArray}
            }]
          },
          options: { scales: { y: { beginAtZero: true } } }
        });
      </script>
      <table class="data">
        <tr>
          <th>Date</th>
          <th>Steps</th>
        </tr>
        {#for entry in model.steps}
          <tr>
            <td>{entry.date}</td>
            <td>{entry.stepCount}</td>
          </tr>
        {/for}
      </table>
    {/if}
    <hr>
    <p><small>Generated: {model.now.format('yyyy-MM-dd HH:mm:ss')}</small></p>
  </body>
</html>
